<div class="form_wrappers">
  <form id="recipe_form" action="/recipes/<%= @recipe.id() %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="row">
      <div class="input-field col s12">
        <input class="thin" id="new_recipe_input" type="text" name="name" value="<%= @recipe.name() %>" autofocus onfocus="this.value = this.value;">
        <label for="name"></label>
      </div>
    </div>
    <div id="instructions-input">
      <h3 class="thin">Instructions</h3>
      <label for="instructions"></label>
      <textarea rows="200" cols="400" name="instructions" value="<%= @recipe.instructions() %>"><%= @recipe.instructions() %></textarea>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="rating">Rating (1-5):</label>
        <input type="number" name="rating" value="<%= @recipe.rating() %>">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="image">Image (link):</label>
        <input type="text" name="image" value="<%= @recipe.image() %>">
      </div>
    </div>
    <div class="center">
      <button id="ingredient_submit" class="center submit" type="submit" name="button">Save</button>
    </div>
  </form>
</div>
