<nav id="search_nav">
  <div class="nav-wrapper amber lighten-5 z-depth-0">
    <form action="/search">
       <div class="input-field">
         <input id="search" class="black-text" type="search" name="tag_name" required>
         <label for="search"><i class="material-icons pink-text">search</i></label>
       </div>
     </form>
  </div>
</nav>
<nav id="main_nav">
  <div class="navbar-fixed amber lighten-5 z-depth-0">
    <div class="col s8 offset-s3">
      <div id="main_header" class="nav-wrapper amber lighten-5">
        <a href="/" class="brand-logo center great-vibes black-text accent-4">The Recipe</a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/search?tag_name=<%=@tag.name()%>" class="pink-text accent-4 custom-active thin"><%=@tag.name()%></a></li>
          <li class=""><a href="/" class="black-text accent-4 custom-active thin">HOME</a></li>
          <li>
            <form action="/recipes/create" method="post"><a href="#">
              <button class="waves-effect waves-light btn pink accent-4" type="submit" name="button">New Recipe</button></a>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="main_content">
  <div class="row">
    <div id="recipe-wrapper" class="wrapper">
      <h1 class="center thin">Recipes</h1>
      <% if @matched_recipes.any? %>
        <% @matched_recipes.each do |recipe| %>
        <div class="col s3 card-size">
          <div class="card blue-grey darken-1 ">
            <div class="card-image">
              <img class="" src="<%=recipe.image()%>" alt="recipe photo" />
              <span class="card-title custom-span"> <a class="card-title-custom" href="/recipes/<%=recipe.id()%>"><%= recipe.name %></a></span>
            </div>
          </div>
        </div>
        <% end %>
      <%else%>
        <h3 class="center">No recipes found for that tag</h3>
      <%end%>
    </div>
    <div id="tag-wrapper" class="wrapper">
      <h3 id="catagories-header" class="thin">Categories</h3>
      <% @tags.each do |tag| %>
        <a href="/search?tag_name=<%=tag.name()%>"><%= tag.name %></a><br>
      <% end %>
    </div>
  </div>
</div>
